biopython>=1.83
pybiolib>=1.2
requests>=2.31
httpx>=0.27
pandas>=2.2
tqdm>=4.66
python-dotenv>=1.0
supabase>=2.0
pytest>=8.0

# Marley v3 -- Molecular Docking
rdkit-pypi>=2024.3.1
meeko>=0.5.0
vina>=1.2.5
openbabel-wheel>=3.1.1
chembl-webresource-client>=0.10.8
